@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700;800&display=swap');

html {
    scroll-padding-top: 10vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
    font-weight: 100;
    line-height: 1.35;
    background-color: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Sora', sans-serif;
}

$dark: #191919;
$red: #D82A2A;
$white: #ffffff;


a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    font-weight: 800;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
}

h1,h2,h3,h4 {
    line-height: 1.5;
}

p {
    margin-bottom: 40px;
}

$breakpoints: (
  'mobile':  480px,
  'small': 768px,
  'tablet': 1024px,
  'laptop':  1200px,
  'large': 1600px,
  'fullhd': 1920px
) !default;

@mixin responsive($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

body {
    @include responsive('large') {
        font-size: 16px;
    }
    @include responsive('tablet') {
        font-size: 14px;
    }
}


$container: 80vw;
$containerMobile: 90vw;

.container {
    width: min($container, 1600px);
    margin: 0 auto;
    position: relative;
    @include responsive('tablet') {
        width: min($containerMobile, 900px);
    }
}

@media screen and (max-width: 782px) {
    html {
        margin-top: 0px !important;
    }
}

.button--whiteOutline {
    color: $white;
    border: 1.5px solid $white;
}

.button--blackOutline {
    color: $dark;
    border: 1.5px solid $dark;
}

.button--blackOutline, .button--whiteOutline {
    display: block;
    width: fit-content;
    padding: 12px 54px 12px 34px;
    font-weight: 500;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;

    @include responsive('small') {
        padding: 8px 44px 8px 24px;
    }
}

.button--blackOutline::before, .button--whiteOutline::before{
    content: '';
    right: 20px;
    width: 10px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.button--blackOutline::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.637' height='10.8' viewBox='0 0 5.637 10.8'%3E%3Cg id='right-arrow' transform='translate(-117.325 0)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M117.729.2a.235.235,0,0,0-.332.332l5,5-5,5a.235.235,0,1,0,.326.338l.006-.006L122.892,5.7a.235.235,0,0,0,0-.332Z' transform='translate(0 -0.131)' fill='%23191919'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M117.682,10.8a.235.235,0,0,1-.166-.4l5-5-5-5a.235.235,0,1,1,.332-.332l5.164,5.164a.235.235,0,0,1,0,.332l-5.164,5.164A.235.235,0,0,1,117.682,10.8Z' transform='translate(-0.119 0)' fill='%23191919'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.button--whiteOutline::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.637' height='10.8' viewBox='0 0 5.637 10.8'%3E%3Cg id='right-arrow' transform='translate(-117.325 0)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M117.729.2a.235.235,0,0,0-.332.332l5,5-5,5a.235.235,0,1,0,.326.338l.006-.006L122.892,5.7a.235.235,0,0,0,0-.332Z' transform='translate(0 -0.131)' fill='%23191919'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M117.682,10.8a.235.235,0,0,1-.166-.4l5-5-5-5a.235.235,0,1,1,.332-.332l5.164,5.164a.235.235,0,0,1,0,.332l-5.164,5.164A.235.235,0,0,1,117.682,10.8Z' transform='translate(-0.119 0)' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.button--blackOutline:hover, .button--whiteOutline:hover {
    border-color: $red;
    background-color: $red;
    color: $white;
}

.button--blackOutline:hover::before, .button--whiteOutline:hover::before {
    right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.637' height='10.8' viewBox='0 0 5.637 10.8'%3E%3Cg id='right-arrow' transform='translate(-117.325 0)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M117.729.2a.235.235,0,0,0-.332.332l5,5-5,5a.235.235,0,1,0,.326.338l.006-.006L122.892,5.7a.235.235,0,0,0,0-.332Z' transform='translate(0 -0.131)' fill='%23191919'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M117.682,10.8a.235.235,0,0,1-.166-.4l5-5-5-5a.235.235,0,1,1,.332-.332l5.164,5.164a.235.235,0,0,1,0,.332l-5.164,5.164A.235.235,0,0,1,117.682,10.8Z' transform='translate(-0.119 0)' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");

}

.redBlur {
    width: 50vw;
    height: 50vw;
    background-color: $red;
    opacity: .35;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.heroBlur {
    top: 30%;
    right: -15%;
    @include responsive('tablet') {
        top: auto;
    }
}

.aboutBlur{
    z-index: 0;
    width: 80vw;
    height: 80vw;
    right: -15vw;
    top: -60vw;
}

.light-bg {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
}

.separator--twoColor {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, $white 0%, $white 50%, $red 50%, $red 100%);
}

.separator--twoColor-rtl {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, $red 0%, $red 50%, $white 50%, $white 100%);
}

.title--red {
    font-size: clamp(32px, 4vw, 100px);
    background-color: $red;
    padding: 0 15px;
    display: block;
    width: fit-content;
    color: $dark;
    font-weight: 800;
    @include responsive('tablet') {
        padding: 5px;
    }
}

.title {
    font-size: clamp(32px, 4vw, 100px);
    font-weight: 800;
    padding: 0 15px;
    @include responsive('tablet') {
        padding: 5px;
    }
}

.pageHeader .title, .pageHeader .title--red {
    font-size: clamp(32px, 3vw, 100px);
}

.map {
    min-height: 60vh;
}

#mapContent {
    min-width: 200px;
    text-align: center;
    font-size: 20px;
    span {
        color: $red;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.scrollDown--dark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

ul {
    margin-left: 15px;

    li::marker {
        color: $red;
        font-size: 20px;
    }
}